@model int
<a asp-action="Edit" asp-route-id="@Model"
   class="btn btn-secondary">
    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Editar
</a>
<a asp-action="Details" asp-route-id="@Model" class="btn btn-info">
    <i class="fa-solid fa-rectangle-list"></i>&nbsp;Detalles
</a>
<a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger">
    <i class="fa-solid fa-trash"></i>&nbsp;Eliminar
</a>