<button class="btn btn-danger me-3" type="submit">
    <i class="fa-solid fa-trash"></i>&nbsp;Eliminar
</button>
<a class="btn btn-secondary" asp-action="Index">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>