@Model int
<a asp-action="Edit" asp-route-id="@Model"
   class="btn btn-primary me-3">
    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Editar
</a>
<a asp-action="Index" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>