<button class="btn btn-primary me-3" type="submit">
    <i class="fa-solid fa-floppy-disk"></i>&nbsp;Actualizar
</button>
<a asp-action="Index" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>