@using MVCInventarios.ViewModels
@model AgregarUsuarioViewModel


@{
    ViewData["Title"] = "Crear usuario";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Usuario.PerfilId" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">
                        <i class="fa-solid fa-user"></i>
                    </label>
                    <select asp-for="Usuario.PerfilId" class="form-select" asp-items="Model.ListadoPerfiles">
                        <option value="">---Seleccionar Perfil---</option>
                    </select>
                </div>
                <span asp-validation-for="Usuario.PerfilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Apellidos" class="control-label"></label>
                <input asp-for="Usuario.Apellidos" class="form-control" />
                <span asp-validation-for="Usuario.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Username" class="control-label"></label>
                <input asp-for="Usuario.Username" class="form-control" />
                <span asp-validation-for="Usuario.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.CorreoElectronico" class="control-label"></label>
                <input asp-for="Usuario.CorreoElectronico" class="form-control" />
                <span asp-validation-for="Usuario.CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Celular" class="control-label"></label>
                <input asp-for="Usuario.Celular" class="form-control" />
                <span asp-validation-for="Usuario.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Contrasena" class="control-label"></label>
                <input asp-for="Usuario.Contrasena" class="form-control" />
                <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.ConfirmarContrasena" class="control-label"></label>
                <input asp-for="Usuario.ConfirmarContrasena" class="form-control" />
                <span asp-validation-for="Usuario.ConfirmarContrasena" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <partial name="Acciones/_Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
