@model MVCInventarios.Models.Perfil

@{
    ViewData["Title"] = Model.Id > 0 ? "Editando " + Model.Nombre : "Crear Perfil";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarEditar">
            <!--Aqui se decide si se llama a Editar o Crear-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                @if (Model.Id > 0)
                {
                    <partial name="Acciones/_Edit" />
                }
                else
                {
                    <partial name="Acciones/_Create" />
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }