@model MVCInventarios.ViewModels.AgregarEditarProductoViewModel

@{
    ViewData["Title"] = Model.Producto.Id > 0 ? "Editando " + Model.Producto.Nombre : "Crear Producto";
}

<h4>@ViewData["Title"]</h4>
<hr />
<form asp-action="@(Model.Producto.Id > 0 ? "Edit" : "Create")" enctype="multipart/form-data">
    <!--Aqui se decide si se llama a Editar o Crear-->
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(Model.Producto.Id > 0)
            {
                <input type="hidden" asp-for="Producto.Id"/>
            }
            <div class="form-group">
                <label asp-for="Producto.Nombre" class="control-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Descripcion" class="control-label"></label>
                <textarea asp-for="Producto.Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.MarcaId" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">
                        <i class="fa-solid fa-m"></i>
                    </label>
                    <select asp-for="Producto.MarcaId" class="form-select" asp-items="Model.ListadoMarcas">
                        <option value="">---Seleccionar Marca---</option>
                    </select>
                </div>
                <span asp-validation-for="Producto.MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Costo" class="control-label"></label>
                <input asp-for="Producto.Costo" class="form-control text-end" />
                <span asp-validation-for="Producto.Costo" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Producto.Estatus" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect02">
                        <i class="fa-solid fa-book-open"></i>
                    </label>
                </div>
                <select asp-for="Producto.Estatus" class="form-select" asp-items="Html.GetEnumSelectList<EstatusProducto>()">
                    <option value="">---Seleccionar Estatus---</option>
                </select>
                <span asp-validation-for="Producto.Estatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                @if(Model.Producto.Id > 0)
                {
                    <partial name="Acciones/_Edit" />
                }
                else
                {
                    <partial name="Acciones/_Create" />
                }
            </div>
        </div>
        @* Implementación Imagen *@
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Imagen" style="width: 100%;"></label>
                @if (Model.Producto.Imagen != null)
                {
                    <img id="foto" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model.Producto.Imagen))">
                }
                else
                {
                    <img id="foto" class="img-fluid" src="">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Producto.Imagen"
                       class="form-control"
                       onchange="document.getElementById('foto').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Producto.Imagen" class="text-danger"></span>
            </div>
        </div>
        @* Implementación Imagen *@
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }