<div class="row mt-5">
    <div class="col">
        <h1 class="text-center">¡ATENCION!</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <h2 class="text-center">
            No tienes acceso a este recurso.
        </h2>
    </div>
</div>
<div class="row mt-5">
    <div class="col-4 offset-4">
        <img src="/images/prohibido.png" asp-append-version="true" class="rounded mx-auto d-block img-fluid" />
    </div>
</div>